@model SchoolMVC2.Models.StudentClass1


@{
    ViewBag.Title = "Student List";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <
    <dl class="dl-horizontal">
     
        <th>
            LastName
        </th>

        <th>
            FirstName
        </th>

        <th>
            EnrollmentDate
        </th>

    </tr>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
